<form [formGroup]="form" class="gen">
    <h2>Register </h2>
    <div class="form">
        <h3>Name user</h3>
        <input formControlName="us" autofocus type="text">  
        <i>Username must contain at least four characters </i>
    </div>
    <div class="form">
        <h3>Password</h3>
        <input formControlName="password" autofocus type="password">  
        <i>the password must contain at least four characters</i>
    </div>
    <div class="form">
        <h3>Confirm password</h3>
        <input formControlName="confirmPass" autofocus type="password">  
        <p *ngIf="errorPass">{{errorPass}}</p>
      </div>
    <button (click)="sendUser()" [disabled]="form.invalid">Create user</button>
    <a routerLink="/">Login</a>
    </form>
